<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7xZP6LUSmzfCUYugmgzxA445MBXqH9IU</string>
	<key>GCM_SENDER_ID</key>
	<string>397010925516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oab.smart.eyes.smarteyes</string>
	<key>PROJECT_ID</key>
	<string>smart-eyes-f3ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-eyes-f3ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397010925516:ios:2c5f1c4527acdd86de8f69</string>
</dict>
</plist>